## [Build Results]
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/
TestResults/
[Xx]64/
[Xx]86/

## [Visual Studio]
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.ide/

## [NuGet Packages]
# Thư mục packages cực kỳ nặng trong .NET Framework
packages/
# Trừ file config để Git biết cần restore package nào
!packages/repositories.config

## [ASP.NET Core]
# File cấu hình chứa bí mật (Secret) của Core API
appsettings.Development.json
appsettings.Local.json

## [Client-side / Web Application]
# Nếu bạn có dùng Node.js/React/Vue bên trong
node_modules/
dist/
wwwroot/lib/ (tùy thuộc vào việc bạn có muốn commit thư viện ngoài không)

## [Publish]
*.publish.xml
*.pubxml
*.pubxml.user